.img-profile {
    width: 52px;
    height: 52px;
    margin-right: 10px;
}

.profile-name {
    font-weight: var(--font-weight-600);
    font-size: var(--font-size-2);
    color: var(--grey1);
}

.profile-desc {
    font-weight: var(--font-weight-400);
    size: var(--font-size-4);
    color: var(--grey2);
}

.profile-suggests-title {
    font-weight: var(--font-weight-600);
    font-size: var(--font-size-2);
    color: var(--grey1);
    margin-bottom: 61px;
}

.profile-suggests {
    margin-bottom: 40px;
    overflow-x: auto;
}

.profile-suggests-item {
    width: 230px;
    margin-right: 4rem;
}



